.wrapper {
    display: flex;
    align-items: center;
    padding: 4px 16px;

    &:hover {
        cursor: pointer;
        background-color: rgba(24, 25, 35, 0.06);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 0.875rem;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 0.875rem;
    color: rgba(24, 25, 35, 0.4);
}